<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
</head>
<body>

<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#trackerModal1" href="/nuevo">
                        <i class="fa fa-plus"></i> Agregar Curso
                    </button>
                </li>
            </ul>
        </div>
    </nav>
</div>
<br>
<div class="container">
        <form class="form-inline" th:action="@{/}">
            <div class="form-group mb-2">
                <label>
                    Filtrar:
                </label>
            </div>
            <div class="form-group mx-sm-3 mb-2">
                <input type="text" name="palabraClave" class="form-control" id="palabraClave" th:value="${palabraClave}" required>
            </div>
            <input type="submit" class="btn btn-info mb-2" value="Buscar">
            &nbsp;&nbsp;
            <input type="button" class="btn btn-secondary mb-2" value="Limpiar" onclick="limpiarCampos()">
        </form>
</div>
<br>
<div class="container">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Titulo</th>
            <th scope="col">Duracion</th>
            <th scope="col">Descripcion</th>
            <th scope="col">Categoría</th>
            <th scope="col">Nivel</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="curso : ${listaCursos}">
            <td th:text="${curso.id_curso}"></td>
            <td th:text="${curso.titulo}"></td>
            <td th:text="${curso.duracion}"></td>
            <td th:text="${curso.descripcion}"></td>
            <td th:text="${curso.categoria}"></td>
            <td th:text="${curso.nivel}"></td>
            <td>
                <a class="btn btn-primary" data-toggle="modal" data-target="#trackerModal2" onclick="loadCourseData(${curso.id_curso})">Editar curso</a>
                &nbsp;
                <a class="btn btn-primary" th:href="@{'/eliminar/' + ${curso.id_curso}}">Eliminar</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<script type="text/javascript">
    function limpiarCampos(){
        window.location='/';
    }
</script>

<div class="container">
    <div class="modal fade" id="trackerModal1" tabindex="-1" aria-labelledby="nuevoProyecto" aria-hidden="true">
        <div class="modal-dialog" style="min-width: 75%;">
            <!--Con el min-width manejo el ancho del modal -->
            <div class="modal-content">

                <div class="modal-header">
                    <h2 class="modal-title" id="nuevoCurso">Nuevo Curso</h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span>&times;</span>
                    </button>
                </div>

                <!--Modal para crear curso-->
                <div class="modal-body">
                    <div class="container-fluid">
                        <form th:action="@{/guardar}" th:object="${curso}" method="post">
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label>Titulo del curso:</label>
                                    <input type="text" name="titulo" th:field="*{titulo}" class="form-control" required>
                                </div>
                                <div class="form-group col-md-6">
                                    <label>Duración</label>
                                    <input type="number" name="duracion" th:field="*{duracion}" class="form-control" required>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label>Descripción</label>
                                    <input type="text" name="descripcion" th:field="*{descripcion}" class="form-control" required>
                                </div>
                                <div class="form-group col-md-3">
                                    <label>Categoria</label>
                                    <input type="text" name="categoria" th:field="*{categoria}" class="form-control" required>
                                </div>
                                <div class="form-group col-md-3">
                                    <label>Nivel del curso:</label>
                                    <select class="form-control" name="nivel" th:field="*{nivel}">
                                        <option value="Básico">Básico</option>
                                        <option value="Intermedio">Intermedio</option>
                                        <option value="Avanzado">Avanzado</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-2">
                                    <label>Cantidad de módulos:</label>
                                    <input type="number" id="course-modules" name="cantidadModulos" th:field="*{cantidadModulos}" class="form-control" min="1" onchange="generateModuleFields()">
                                </div>
                            </div>

                            <div id="modules-container" class="row"></div>

                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label>Enlace al examen: </label>
                                    <input type="url" name="enlaceExamen" th:field="*{enlaceExamen}" class="form-control" required>
                                </div>
                                <div class="form-group col-md-6">
                                    <label>Certificado: </label>
                                    <input type="checkbox" name="certificado" th:field="*{certificado}" class="form-control" required>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                <button class="btn btn-success">Guardar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function generateModuleFields() {
       const modulesContainer = document.getElementById('modules-container');
       modulesContainer.innerHTML = ''; // Limpia el contenedor de módulos anteriores
       const moduleCount = document.getElementById('course-modules').value;

       for (let i = 1; i <= moduleCount; i++) {
           const moduleDiv = document.createElement('div');
           moduleDiv.classList.add('form-group', 'col-md-6'); // Ajusta el tamaño si es necesario
           moduleDiv.innerHTML = `
               <label for="module-${i}-title">Título del Módulo ${i}:</label>
               <input type="text" class="form-control" id="module-${i}-title" name="module-${i}-title">
               <label for="module-${i}-materials">Materiales del Módulo ${i}:</label>
               <input type="file" class="form-control" id="module-${i}-materials" name="module-${i}-materials" multiple>
               <label for="module-${i}-videoLink">Video del módulo ${i}:</label>
               <input type="text" class="form-control" id="module-${i}-videoLink" name="module-${i}-videoLink">
           `;
           modulesContainer.appendChild(moduleDiv);
       }
   }
</script>
<div class="container">
    <div class="modal fade" id="trackerModal2" tabindex="-1" aria-labelledby="nuevoProyecto" aria-hidden="true">
        <div class="modal-dialog" style="min-width: 75%;">
            <!--Con el min-width manejo el ancho del modal -->
            <div class="modal-content">

                <div class="modal-header">
                    <h2 class="modal-title" id="editarCurso">Editar curso</h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span>&times;</span>
                    </button>
                </div>
                <!--Modal para editar curso-->
                <div class="modal-body">
                    <div class="container-fluid">
                        <form th:action="@{/guardar}" th:object="${curso}" method="post">
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label>Titulo del curso:</label>
                                    <input type="text" name="titulo" th:field="*{titulo}" class="form-control" required>
                                </div>
                                <div class="form-group col-md-6">
                                    <label>Duración</label>
                                    <input type="number" name="duracion" th:field="*{duracion}" class="form-control" required>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label>Descripción</label>
                                    <input type="text" name="descripcion" th:field="*{descripcion}" class="form-control">
                                </div>
                                <div class="form-group col-md-3">
                                    <label>Categoria</label>
                                    <input type="text" name="categoria" th:field="*{categoria}" class="form-control" required>
                                </div>
                                <div class="form-group col-md-3">
                                    <label>Nivel del curso:</label>
                                    <select class="form-control" name="nivel" th:field="*{nivel}">
                                        <option value="Básico">Básico</option>
                                        <option value="Intermedio">Intermedio</option>
                                        <option value="Avanzado">Avanzado</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-2">
                                    <label>Cantidad de módulos:</label>
                                    <input type="number" name="cantidadModulos" th:field="*{cantidadModulos}" class="form-control" min="1" onchange="generateModuleFields()">
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label>Enlace al examen: </label>
                                    <input type="url" name="enlaceExamen" th:field="*{enlaceExamen}" class="form-control">
                                </div>
                                <div class="form-group col-md-6">
                                    <label>Certificado: </label>
                                    <input type="checkbox" name="certificado" th:field="*{certificado}" class="form-control" required>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                <button class="btn btn-success">Guardar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function loadCourseData(courseId) {
    fetch(`/obtenerCurso/${courseId}`)
        .then(response => response.json())
        .then(data => {
            // Asignar datos del curso
            document.querySelector("[name='titulo']").value = data.titulo;
            document.querySelector("[name='duracion']").value = data.duracion;
            document.querySelector("[name='descripcion']").value = data.descripcion;
            document.querySelector("[name='categoria']").value = data.categoria;
            document.querySelector("[name='nivel']").value = data.nivel;
            document.querySelector("[name='cantidadModulos']").value = data.modulos.length;

            // Generar los campos de módulo en el modal de edición
            generateModuleFields(data.modulos);
        })
        .catch(error => console.error("Error al cargar los datos del curso:", error));
}
</script>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
</body>
</html>