<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="'Curso ' + ${curso.titulo} + ' - ' + ${curso.nivel}"></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <style>
        input[type="radio"]{
            display: none;
        }

        .calificacion{
            direction: rtl;
            text-align: left;
            unicode-bidi: bidi-override;
        }

        label:hover,
        label:hover ~ label{
            color: orange;
        }

        input[type="radio"]:checked ~ label{
            color:orange;
        }
    </style>
</head>
<body>
<!--Header-->
<header>
    <nav class="navbar navbar-light navbar-expand-lg bg-light shadow-sm">
        <div class="container">
            <!-- Logo -->
            <a class="navbar-brand" href="inicio-edutech">
                <img src="images/logo-header-edutech.png" alt="Logo" height="50">
            </a>
            <!-- Menu Responsivo -->
            <button class="navbar-toggler bg-primary" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- Contenido -->
            <div class="collapse navbar-collapse" id="navbarContent">
                <!-- Enlaces -->
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a class="nav-link" href="inicio-edutech">Inicio</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                           aria-expanded="false">
                            Categorías
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/cursos-edutech">Programación</a></li>
                            <li><a class="dropdown-item" href="/cursos-edutech">Marketing</a></li>
                            <li><a class="dropdown-item" href="/cursos-edutech">Diseño Gráfico</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="/cursos-edutech">Ver todo</a></li>
                        </ul>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="nosotros-edutech">Nosotros</a></li>
                </ul>
                <!-- Buscar -->
                <form class="d-flex me-3">
                    <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
                    <button class="btn btn-outline-primary" type="submit"><i class="fa fa-search"></i></button>
                </form>
                <!-- Icono de Usuario -->
                <a class="nav-icon text-primary ms-3" href="login.html">
                    <i class="fa fa-user fa-lg"></i>
                </a>
                <!--Icono inciar sesion-->
                <a class="nav-icon text-primary ms-3" href="login-edutech">
                    <i class="fa fa-right-to-bracket"></i>
                </a>
            </div>
        </div>
    </nav>
</header>
<main>
    <div class="row justify-content-start">
        <div class="col-6">
            <div class="container mt-4">
                <h1 th:text="'Curso ' + ${curso.titulo} + ' - ' + ${curso.nivel}"></h1>
                <div class="accordion accordion-flush" id="accordionFlushExample">
                    <!-- Iterar sobre los módulos del curso -->
                    <div th:each="modulo, iter : ${modulos}" class="accordion-item">
                        <h2 class="accordion-header" th:id="'heading' + ${modulo.id_modulo}">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    th:data-bs-target="'#flush-collapse' + ${modulo.id_modulo}"
                                    aria-expanded="false"
                                    th:aria-controls="'flush-collapse' + ${modulo.id_modulo}">
                                <span th:text="${curso.categoria} + ' con ' + ${curso.titulo} + ' ' + ${curso.nivel} + ': Sesión ' + ${iter.index + 1}"></span>
                            </button>
                        </h2>
                        <div th:id="'flush-collapse' + ${modulo.id_modulo}" class="accordion-collapse collapse"
                             data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <!-- Mostrar título del módulo y botón -->
                                <h4 th:text="${modulo.titulo}"></h4>
                                <button class="btn btn-primary ver-video-btn"
                                        th:data-video-link="${modulo.videoLink}">
                                    Ver video
                                </button>
                            </div>
                        </div>
                    </div>
                    <!-- Módulo de Recursos -->
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingRecursos">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseRecursos" aria-expanded="false"
                                    aria-controls="flush-collapseRecursos">
                                <span>Recursos</span>
                            </button>
                        </h2>
                        <div id="flush-collapseRecursos" class="accordion-collapse collapse"
                             data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <a class="btn btn-primary" th:href="${curso.enlaceRecurso}" target="_blank">
                                    Ver Recursos
                                </a>
                            </div>
                        </div>
                    </div>

                    <!-- Módulo de Examen -->
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingExamen">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseExamen" aria-expanded="false"
                                    aria-controls="flush-collapseExamen">
                                <span>Examen</span>
                            </button>
                        </h2>
                        <div id="flush-collapseExamen" class="accordion-collapse collapse"
                             data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <a class="btn btn-primary" th:href="${curso.enlaceExamen}" target="_blank">
                                    Ir al Examen
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Sección para mostrar el video en col-6 -->
        <div class="col-6">
            <div class="container mt-4">
                <h3>Video del Módulo</h3>
                <!-- iframe oculto al inicio -->
                <iframe id="video-player" width="100%" height="315" style="display:none;" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</main>

<!--Footer-->
<footer class="bg-light text-dark text-center text-lg-start mt-3">
    <div class="container p-4">
        <div class="row">
            <!-- Sobre Edutech -->
            <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase border-bottom pb-2 text-primary">Sobre EduTech</h5>
                <p>
                    Edutech es una plataforma de aprendizaje en línea, orientado a en brindar la mejor enseñanza a
                    sus estudiantes con el uso de tecnologías actuales.
                </p>
            </div>
            <!-- Redes Sociales -->
            <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase border-bottom pb-2 text-primary">Síguenos</h5>
                <ul class="list-unstyled d-flex justify-content-center mt-3">
                    <li><a href="#" class="text-dark me-3"><i class="fa-brands fa-facebook fa-2x"></i></a></li>
                    <li><a href="#" class="text-dark me-3"><i class="fa-brands fa-instagram fa-2x"></i></a></li>
                    <li><a href="#" class="text-dark me-3"><i class="fa-brands fa-twitter fa-2x"></i></a></li>
                    <li><a href="#" class="text-dark me-3"><i class="fa-brands fa-linkedin fa-2x"></i></a></li>
                </ul>
            </div>
            <!-- Importante -->
            <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase border-bottom pb-2 text-primary">Importante</h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-dark text-decoration-none">Términos y Condiciones</a></li>
                    <li><a href="#" class="text-dark text-decoration-none">Política de Privacidad</a></li>
                    <li><a href="#" class="text-dark text-decoration-none">Ayuda y asistencia</a></li>
                </ul>
            </div>
        </div>
        <hr class="my-4 text-dark" style="opacity: 0.2;">
        <!--Derechos-->
        <div class="text-center p-3 text-dark mt-3">
            <p class="mb-0">&copy; 2024 Nutripoint - Todos los derechos reservados.</p>
        </div>
    </div>
</footer>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const videoPlayer = document.getElementById('video-player');
        document.querySelectorAll('.ver-video-btn').forEach(button => {
            button.addEventListener('click', function () {
                let videoLink = this.getAttribute('data-video-link');

                if (videoLink) {
                    // Transformar enlace de YouTube en formato embebible
                    const videoIdMatch = videoLink.match(/(?:https?:\/\/)?(?:www\.)?youtube\.com\/watch\?v=([^&]+)/) || videoLink.match(/youtu.be\/([^?&]+)/);
                    if (videoIdMatch) {
                        const videoId = videoIdMatch[1];
                        videoLink = `https://www.youtube.com/embed/${videoId}`;

                        // Mostrar el iframe y cargar el enlace del video embebido
                        videoPlayer.style.display = 'block';
                        videoPlayer.src = videoLink;
                    } else {
                        alert('El enlace proporcionado no es un enlace válido de YouTube.');
                    }
                } else {
                    alert('El enlace al video no está disponible.');
                }
            });
        });
    });
</script>
</body>
</html>